#about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
    background-color: rgb(244, 247, 248);
}

.about-info {
    margin: 10%;
    display: flex;
    flex-direction: column;
}

#oregon-eclipse {
    display: none;
}

.subheaders {
    text-align: center;
}

@media screen and (min-width: 1025px) {
    #about-section {
        flex-direction: row;
    }

    #oregon-eclipse {
        display: block;
        width: 500px;
        border-radius: 10px;
        margin: 5%;
    }
}