#projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 100%; /* Ensure it adapts to the screen size */
    box-sizing: border-box;
}

.projects-info {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of items */
    justify-content: center;
    gap: 20px; /* Space between items */
    width: 100%; /* Ensure it adapts to the screen size */
}

.card-link-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 300px;
    height: 200px;
    border: 1px black solid;
    background-color: rgb(203, 204, 225);
    border-radius: 10px;
    margin: 20px; /* Margin for spacing */
    transition: transform 0.3s ease, filter 0.3s, border 0.3s;
    position: relative;
    overflow: hidden;
    filter: drop-shadow(0 0 0.75rem rgb(112, 112, 112));
}

.card-link-container:visited {
    color: white; /* Ensure visited links remain white */
}

.card-link-container:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 1rem rgb(40, 40, 40));
}

.project-name {
    font-size: 30px;
    font-weight: bold;
    text-shadow: -1px -1px black, 1px -1px black, -1px 1px black, 1px 1px black;
    z-index: 1; /* Ensure it's above the description initially */
}

.project-description {
    font-size: 16px;
    position: absolute; /* Position it within the card container */
    bottom: -110%; /* Start from below the container */
    width: 100%; /* Cover the full width */
    height: 100%; /* Cover the full height */
    background-color: rgb(244, 247, 248);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: bottom 0.3s ease-in-out; /* Animate the bottom property */
    opacity: 0;
    padding: 5px;
}

.card-link-container:hover .project-description {
    bottom: -8%; /* Slides up and covers the container */
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .card-link-container {
        flex-direction: row;
    }
}

@media screen and (max-width: 1024px) {
    .projects-info {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1025px) {
    .projects-info {
        flex-direction: row;
        justify-content: space-evenly;
    }
}