.skills-section {
    display: flex;
    flex-direction: column;
}

.all-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skills div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.skill-icon {
    width: 100px;
}

.certifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.badge {
    width: 250px;
    transition: transform 0.3s, filter 0.3s;
    cursor: pointer;
    filter: drop-shadow(0 0 0.75rem rgb(112, 112, 112));
    margin: 20px;
}

.badge:hover {
    transform: translateY(-5px);
    filter: drop-shadow(0 0 1rem rgb(40, 40, 40));

}

/* =========== MEDIUM SCREENS ============ */
@media screen and (min-width: 768px) {
    .all-skills {
        flex-direction: column;
    }

    .skills {
        justify-content: space-evenly;
        flex-direction: row;
    }
    
    .skill-icon {
        width: 100px;
    }

    .certifications {
        flex-direction: row;
    }

    .badge {
        width: 200px;
    }
}

/* ======= LARGE SCREENS ========= */
@media screen and (min-width: 1025px) {
    .all-skills {
        flex-direction: column;
    }
    
    .skills {
        display: flex;
        justify-content: space-evenly;
    }

    .skill-icon {
        width: 100px;
    }

    .certifications {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
    }

    .badge {
        margin: 50px;
        width: 250px;
    }
}