#about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    background-color: rgb(244, 247, 248);
}

.about-info {
    margin: 30px 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.about-picture {
    display: none;
}

.subheaders {
    text-align: center;
}

@media screen and (min-width: 1025px) {
    /* #about-section {
        flex-direction: row;
    } */

    /* .about-picture {
        display: block;
        max-width: 500px;
        border-radius: 10px;
        margin-right: 20px;
    } */
}