#about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-info {
    margin: 10%;
    display: flex;
    flex-direction: column;
}

#oregon-eclipse {
    display: none;
}

.subheaders {
    text-align: center;
}

#gallery-section {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding:20px;
}

.album-cover {
    transition: transform 0.3s ease;
    max-height: 200px;
    border-radius: 10px;
    margin: 10px;
}

.album-cover:hover {
    transform: scale(1.05);
}

.row {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 150px;
    height: 150px;
    padding: 20px;
}

#skill-container {
    display: flex;
}

@media screen and (min-width: 800px) {
    #about-section {
        flex-direction: row;
    }

    #oregon-eclipse {
        display: block;
        width: 500px;
        border-radius: 10px;
        margin: 5%;
    }

    .gallery-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
    }

    .row {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }

}