.heading-nav {
    border: none;        
    display: flex;
    flex-direction: row;
    background-color: white;
}

nav {
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-link {
    list-style: none;
    padding: 5px 15px;
    transition: background-color 0.3s;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 40px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-shadow: -2px -2px black, 2px -2px black, -2px 2px black, 2px 2px black;
}

.header-link a {
    text-decoration: none;
}

/* Explicitly style visited links */
.header-link a:visited {
    color: white; /* Ensure visited links remain white */
}

/* Hover and active effects for the navigation links */
.header-link a:hover,
.header-link a:focus,
.header-link a:active {
    color: rgb(143, 138, 138); 
    transform: scale(1.1);
}

/* reset the color when the link is not hovered or focused */
.header-link a:focus:not(:hover) {
    color: white;
}

.heading-content {
    width: 100%;
}

.full-nav {
    display: flex;
    justify-content: space-between;
}

.nav-button {
    background: transparent;
    color: black;
    font-size: 40px;
    height: 50px;
    align-self: center;
    border: none;
    cursor: pointer;
    position: static;
}


/* ====== MOBILE FRIENDLY MENU ======= */
@media screen and (max-width: 1024px) {

    .full-nav {
        display: flex;
        justify-content: center;
        /* dimentions of header */
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* =================== */
        background: rgba(0, 0, 0, 0.8);
        z-index: 999; /* Ensure it's on top of other content */
        transform: translateY(-100vh); /* moves menu out of viewport */
        transition: transform 1s ease-in-out; /* makes the transition smooth */
    }

    .full-nav.open { /* visible state of menu */
        /* moves menue into view with established dimensions */
        transform: translateY(0);
    }

    .nav-close-button {
        color: white;
    }
}


/* ======= LARGE SCREENS ======== */
@media screen and (min-width: 1024px) {
    .heading-nav {
        padding: 20px;
        width: 100%;
        position: fixed;
        z-index: 999;
        top: 0;
    }

    .heading-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
    }

    .nav-list {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .nav-button {
        display: none
    }
}