.heading-nav {
    border: none;        
    display: flex;
    flex-direction: row;
}

.heading-nav h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    margin: 0;
    padding-bottom: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
    position: fixed;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-link {
    list-style: none;
    color: white;
    padding: 5px 15px;
    transition: background-color 0.3s;
    margin: 10px 0px;
    font-weight: bolder;
    font-size: 50px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-shadow: -2px -2px black, 2px -2px black, -2px 2px black, 2px 2px black;
}

.header-link a {
    text-decoration: none;
}

/* Explicitly style visited links */
.header-link a:visited {
    color: white; /* Ensure visited links remain white */
}

/* Hover and active effects for the navigation links */
.header-link a:hover,
.header-link a:focus,
.header-link a:active {
    color: rgb(143, 138, 138); 
    transform: scale(1.1);
}

.heading-content {
    width: 100%;
}

.full-nav {
    display: flex;
    justify-content: space-between;
}

.nav-button {
    background: transparent;
    color: black;
    font-size: 40px;
    height: 50px;
    align-self: center;
    border: none;
    cursor: pointer;
    position: static;
}

@media screen and (max-width: 1024px) {

    .full-nav {
        display: flex;
        justify-content: center;
        /* dimentions of header */
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* =================== */
        background: rgba(0, 0, 0, 0.8);
        z-index: 999; /* Ensure it's on top of other content */
        transform: translateY(-100vh); /* moves menu out of viewport */
        transition: transform 1s ease-in-out; /* makes the transition smooth */
    }

    .full-nav.open { /* visible state of menu */
        /* moves menue into view with established dimensions */
        transform: translateY(0);
    }

    .nav-close-button {
        color: white;
    }
}

@media screen and (min-width: 1024px) {
    header {
        border: solid black;
    }
    
    .heading-nav {
        border: black solid;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        background-image: url("/images/picture_of_me_header.jpg");
        background-size: cover; /* This ensures the image covers the entire background */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        background-position: center center; /* Centers the image */
        height: 100vh; /* Sets the height to full viewport height */
    }

    .heading-content {
        display: flex;
        flex-direction: row;
    }

    .nav-button {
        display: none
    }
}