.main-reports {
    margin: 20px;
}

.report-container {
    display: flex;
    overflow-x: auto;
    width: 100%;
}

.feedback-card {
    margin: 20px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid black;
    flex-shrink: 0;
}

h3,
p span {
    font-weight: bold;
}

.homework-container {
    text-align: center;
    width: 98%;
}

.homework-card, .project-card, .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    display: inline-block;
}

.homework-screenshot {
    margin: auto;
    width: 500px;
    max-width: 100%;
    height: auto;
    border: 1px solid grey;
    border-radius: 10px;
}

.project-card {
    display: flex !important;
    flex-direction: row !important;
}

.project-picture {
    width: 500px;
}

.project-info {
    width: 400px;
    margin-left: 20px;
}

.capstone-section {
    margin-top: 60px;
}

.capstone-card {
    display: flex;
    flex-direction: column;
}

.custom-arrow {
    font-size: 24px;
    cursor: pointer;
    color: black;
}

.prev-arrow {
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.next-arrow {
    right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

@media screen and (min-width: 1025px) {
    .capstone-card {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .capstone-info {
        margin: 10px;
        max-width: 700px;
    }

    .homework-screenshot {
        min-width: 500px;
    }
}
