#followme-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 50px;
    background-color: rgb(244, 247, 248);
}

.social-icon {
    font-size: 10em;
    color: #3b3a5e;
    margin: 20px;
    transition: transform 0.3s, color 0.3s;
}

.social-icon:hover {
    color: #ff6600;
    transform: scale(1.1);
}