@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    font-family: Rubik;
    scroll-behavior: smooth;
}

#root {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 150px;
}

@media screen and (min-width: 1258px) {
    .page-format {
        background-color: white;
    }

    body {
        padding-top: 190px;
    }
}